@model ExcelToDatabase.Models.Pay_Paypoint

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pay_Paypoint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayPointCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayPointCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayPointDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayPointDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PayPointId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
