﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<HrGpIntegration.Models.ApplicationUser> SignInManager
@inject UserManager<HrGpIntegration.Models.ApplicationUser> UserManager;

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="#">Hello @UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="LogOff">
                <button type="submit" class="btn nav-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <form id="RegisterForm" method="post" class="form-inline" asp-controller="Account" asp-action="Register">
                <button type="submit" class="btn nav-link">Register</button>
            </form>
        </li>
        <li class="nav-item">
            <form id="loginForm" method="post" class="form-inline" asp-controller="Account" asp-action="Login">
                <button type="submit" class="btn nav-link">Login</button>
            </form>
        </li>
    }

</ul>
