@model ExcelToDatabase.Models.Pay_Earning

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pay_Earning</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Earning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Earning)
        </dd>
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarningDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarningDescription)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EarningId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
